.login_container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 30px;
  background: #f1f1f1;
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.login_container .heading {
  color: #12c2e9;
  font-weight: 200;
}
.login_container .box {
  border-radius: 10px;
  border: 1px solid grey;
}
